body {
  margin: 0;
  background: url('res/5.png') fixed;
  background-size: 100% 100%;
  display: block;
}

main {
  min-height: 95vh;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5e72e4;
}

a {
  transition: color 0.4s;
  color: black;
  text-decoration: none;
}

a:hover {
  color: cornflowerblue;
}

#myname {
  font-size: 20px;
  font-weight: 600;
  align-self: center;
}

#about {
  align-self: center;
}

#top-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  border-bottom: 1px solid lightgray;
  background-color: white;
  transition: box-shadow 0.1s;
  z-index: 10;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

#index-show {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#index-show::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('res/5.png') fixed;
  background-size: 100% 100%;
  filter: blur(10px);
}

#sway-pic {
  position: absolute;
  left: calc(50% - 243px);
  top: calc(50% - 150px);
  display: block;
  background: url('res/sway.png') no-repeat;
  width: 486px;
  height: 300px;
}

#back {
  display: block;
  background: url('res/backgroundtest.png');
  width: 100%;
  height: 100%;
}

.container {
  padding: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-end;
}

#main-container {
  pointer-events: none;
}

.card::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s;
}

.card:hover::before {
  opacity: 1;
}

.card {
  transition: opacity color 0.4s;
  background-color: white;
  position: relative;
  margin: 20px;
  z-index: 2;
  padding: 30px;
  border-radius: 10px;
  opacity: 0;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

#articals {
  display: flex;
  width: 75%;
  flex-direction: column;
}

.artical {
  font-weight: 600;
}

#links {
  width: 100px;
  display: flex;
  height: auto;
  flex-direction: column;
  align-content: flex-start;
}

#right-part {
  width: auto;
  height: auto;
}

@keyframes cutin {
  from {
    opacity: 0;
    transform: translateY(35px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes cutout {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(35px);
  }
}