body {
  margin: 0;
  background: url('res/5.png') fixed;
  background-size: 100% 100%;
  display: block;
}

main {
  min-height: 95vh;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5e72e4;
}

a {
  transition: color 0.4s;
  color: black;
  text-decoration: none;
}

a:hover {
  color: cornflowerblue;
}

#myname {
  font-size: 20px;
  font-weight: 600;
  align-self: center;
}

#about {
  align-self: center;
}

#top-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  border-bottom: 1px solid lightgray;
  background-color: white;
  transition: box-shadow 0.1s;
  z-index: 20;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

#index-show {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#sway {
  text-align: center;
  transition: transform 0.1s;
  position: absolute;
  left: 0;
  top: 40%;
  display: block;
  width: 100%;
  height: fit-content;
}

#sway>span {
  font-weight: 600;
  font-size: 4em;
  user-select: none;
}

.goline-text, #links>a {
  position: relative;
}

.goline-text::before, #links>a::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0px;
  top: 0px;
  background-color: #5e72e4;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.goline-text:hover::before, #links>a:hover::before {
  transform: scaleX(1);
  transform-origin: right;
}

.goline-text::after, #links>a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  background-color: #5e72e4;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.goline-text:hover::after, #links>a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#main-container {
  pointer-events: none;
  padding: 5vh;
  display: flex;
  flex-direction: row;
  opacity: 0;
  justify-content: space-around;
  align-content: flex-end;
}

.card::before, .gt-comment-content::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s;
}

.card:hover::before, .gt-comment-content:hover::before {
  opacity: 1;
}

.card, .gt-comment-content {
  background-color: white;
  position: relative;
  margin: 20px;
  z-index: 2;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

.gt-comment-content:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2) !important;
}

.gt-comment-content {
  overflow: visible;
  margin-right: 0;
}

#articals {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.artical {
  font-weight: 500;
  font-size: larger;
}

#links {
  width: 100px;
  display: flex;
  height: auto;
  flex-direction: column;
  align-content: flex-start;
}

#links>a {
  margin-top: 3px;
  margin-bottom: 3px;
}

#gitalk-container {
  min-width: 30%;
}

#right-part {
  width: auto;
  height: auto;
}

@keyframes cutin {
  from {
    opacity: 0;
    transform: translateY(35px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes cutout {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(35px);
  }
}