:root {
  --text-color: black;
  --background-color: white;
  --accent-color: #5e72e4;
  --auxiliary-color: gray;
  --background-image: url("../images/background.png");
  --icon: url("../images/day.png");
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #DDDDDD;
    --background-color: #121212;
    --accent-color: #5e72e4;
    --auxiliary-color: gray;
    --background-image: url("../images/darkBackground.jpg");
    --icon: url("../images/night.png");
  }
}

* {
  transition: color 0.3s;
}